name: MLOps Fraud Pipeline

on:
  push:
    branches:
      - master

env:
  AWS_REGION: ap-south-1
  S3_BUCKET_NAME: fraud-ml-model-bucket
  MODEL_S3_KEY: fraud/latest/model.pkl
  ECR_REPO: fraud-detection-api
  IMAGE_TAG: 1.0

jobs:
  train-build-deploy:
    runs-on: self-hosted

    steps:

    # =========================
    # Checkout
    # =========================
    - name: Checkout Code
      uses: actions/checkout@v4

    # =========================
    # Python Setup
    # =========================
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install Dependencies
      run: |
        pip install -r requirements.txt

    # =========================
    # Train Model
    # =========================
    - name: Train Model
      run: |
        python train.py

    # =========================
    # Upload Model → S3
    # =========================
    - name: Upload Model to S3
      run: |
        aws s3 cp model.pkl s3://$S3_BUCKET_NAME/$MODEL_S3_KEY

    # =========================
    # Login ECR
    # =========================
    - name: Login to ECR
      run: |
        aws ecr get-login-password --region $AWS_REGION \
        | docker login --username AWS --password-stdin \
        861550625988.dkr.ecr.ap-south-1.amazonaws.com

    # =========================
    # Build Docker Image
    # =========================
    - name: Build Docker Image
      run: |
        docker build -t $ECR_REPO:$IMAGE_TAG .

    # =========================
    # Tag Image
    # =========================
    - name: Tag Docker Image
      run: |
        docker tag $ECR_REPO:$IMAGE_TAG \
        861550625988.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPO:$IMAGE_TAG

    # =========================
    # Push Image → ECR
    # =========================
    - name: Push Docker Image
      run: |
        docker push \
        861550625988.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPO:$IMAGE_TAG

    # =========================
    # Deploy via Docker Compose
    # =========================
    - name: Deploy via Docker Compose
      run: |
        export MODEL_S3_PATH=s3://$S3_BUCKET_NAME/$MODEL_S3_KEY
        docker compose down || true
        docker compose up -d --build
